/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox,
Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.

Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
    ZAGADNIENIE PONADPROGRAMOWE
    
    Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w
    taki sposób,
    że będzie niewidoczny do standardowego użytkownika, a czytniki
    ekranowe wciąż będą go czytać.
    
    Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
    */

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*
    Sekcja pomocnicza, aby zwizualizować pozycje głównych bloków strony.
    Będzie usunięta w następnych krokach.
    */

.page-footer {
    background-color: #7ba3ff;
}

/*
    Koniec sekcji pomocniczej
    */

/*
    Ustawiając sekcje nagłówka i stopki w pozycji 'fixed' sprawiamy,
    że niezależnie od pozycji paska przewijania elementy te będą znajdowały się
    w tej samej pozycji względem okna przeglądarki.
    Natomiast pozycję tę ustawiamy za pomocą parametrów 'top', 'bottom',
    'right', 'left'.
    */

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-navigation .page-navigation__items .page-navigation__item {
    margin-top: 8px;
    margin-bottom: 8px;
}

.page-navigation .page-navigation__items .page-navigation__item a {
    color: #EF008E;
    opacity: 0.8;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 7px;
}

.page-navigation .page-navigation__items .page-navigation__item a:active {
    opacity: 1;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

/*
    Lewy margines ustawiony na kontenerze z główną zawartością strony sprawia,
    że nie będzie ona nachodzić na nagłówek i stopkę niezależnie od
    pozycji paska przewijania.
    Na projekcie graficznym sekcja menu ma szerokość około 170px i jest
    oddalona od krawędzi ekranu
    o 50px, więc można założyć, że 220px marginesu będzie wartością
    stosunkowo bezpieczną.
    Z kolei spady (padding) nadane na kontener wyznaczają minimalną
    odległość, na jaką będzie oddalona
    treść strony od otaczających ją granic kontenera (wartość "0 10%" jest
    skrótem od padding-top: 0, padding-bottom: 0, padding-left: 10%,
    padding-right: 10%).
    Właściwość "text-align: right" przykleja zawartość do prawej strony
    (oddziałuje na elementy, które są elementami inline'owymi, np. tekst,
    znaczniki <a>, <span> czy elementy z nadanym stylem "display:
    inline-block").
    */

.page-content {
    text-align: right;
}

/*
    Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać
    całą wysokość okna przeglądarki
    lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym
    rozwiązaniem
    będzie użycie jednostki "vh", która oznacza 1% wysokości okna
    przeglądarki z właściwością "min-height",
    która wymusza wysokość elementu na zadaną wartość lub wyższą.
    */

.content-section {
    min-height: 100vh;
    padding-top: 175px;
    padding-bottom: 175px;
    padding-left: 250px;
    padding-right: 50px;
    background-color: #180421;   
}

.content-section:not(#home) {
    position: relative;
}

.content-section:nth-child(odd) {
    background-color: #230D2D;
}

.content-section .content-section__header {
    position: absolute;
    top: 100px;
    right: 50px;
    font-size: 28px;
    font-weight: 700;
    color: #EF008E;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.band-members .band-members {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.band-members .band-members__item {
    display: inline-block;
    width: 20%;
}

.band-members .band-members__item .band-members__name {
   text-align: left;
    font-size: 15px;
    font-weight: 700;
    color: #DBD8FB;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.band-members .band-members__item .band-members__desc {
    text-align: left;
    font-size: 13px;
    font-weight: 300;
    color: #DBD8FB;
    letter-spacing: 1px;
    opacity: 0.6;
}

.about-section img {
    max-width: 75%;
    border-top: 4px solid #EF008E;
}

.about-section .about-section__desc {
    background-color: #230D2D;   
    position: absolute;
    bottom: 50px;
    padding: 35px;
    max-width: 30%;
    border-bottom: 4px solid #EF008E;
}

.about-section .about-section__desc .about-section__desc-header {
    font-size: 15px;
    font-weight: 700;
    color: #CCC8FF;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 35px;
    text-align: left;
}

.about-section .about-section__desc .about-section__desc-details {
    font-size: 13px;
    font-weight: 300;
    color: #CCC8FF;
    opacity: 0.8;
    letter-spacing: 2px;
    text-align: left;
}

.concerts-section .concerts {
    display: flex;
    flex-direction: column;
}

.concerts-section .concerts .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.concerts-section .concerts .concerts__item {
    display: block;
    flex: 1;
    margin: 15px;
}

.concerts-section .concerts .concerts__item .concerts__image {
    width: 100%;
    border-bottom: 4px solid #EF008E;
    margin-bottom: 15px;
}

.concerts-section .concerts .concerts__item .concerts__info {
    display: flex;
    flex-direction: row;
}

.concerts-section .concerts .concerts__item .concerts__info div {
    display: flex;
    flex-direction: column;
}

.concerts-section .concerts .concerts__item .concerts__info div p {
    display: inline-block;
    margin: 0;
    text-align: left;
    font-size: 13px;
}

.concerts-section .concerts .concerts__item .concerts__info div .concerts__date {
    font-weight: 500;
    color: #CCC8FF;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.concerts-section .concerts .concerts__item .concerts__info div .concerts__location {
    font-weight: 300;
    color: #CCC8FF;
    opacity: 0.6;
    letter-spacing: 3px;
}

.concerts-section .concerts .concerts__item .concerts__info button {
    margin-left: auto;
    background-color: rgba(203,201,251, 0.5);	
    opacity: 0.5;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery .gallery__item {
    margin: 10px;
    border-top: 4px solid #EF008E;
    width: calc(33% - 20px);
}

.gallery .gallery__item .gallery__image {
    width: 100%;
}
